.tox
.cache/v/cache
docs/_build
binance/__pycache__/
build/
dist/
python_binance.egg-info/
*__pycache__
*.egg-info/
.idea/
venv*/
.vscode
.binance/# Shell redirection artifacts
=[0-9]*
>[0-9]*
*.tmp
*.log
